.container--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 50px;
  justify-content: center;
  align-items: stretch; /* stretch the cards to the same height */
}

body {
  background-color: white !important;
}

.primary-banner {
  text-align: center;
}