<div class="primary-banner">
  <h1 class="mt-4 mb-4">
    <% if user_signed_in? %>
      Welcome, to Workshop Rentals, <%= current_user.first_name %> 💛
    <% else %>
      Welcome to Workshop Rentals!
    <% end %>
  </h1>
</div>

<% pictures = ["https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419179/Workshop/1.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419179/Workshop/2.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419179/Workshop/3.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419178/Workshop/4.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419178/Workshop/5.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419176/Workshop/6.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419176/Workshop/10.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419177/Workshop/7.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419175/Workshop/12.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419175/Workshop/14.avif", "https://res.cloudinary.com/dw4vy98yd/image/upload/v1696419175/Workshop/15.avif"] %>

<div data-controller="spaces">
  <div class="filter-container">
    <div class="filter-banner py-3 my-4">
      <%= render 'spaces/filter_form' %>
    </div>
  </div>

  <div data-spaces-target="spaces" class="container py-3 container--grid">
    <!-- Spaces will be loaded here -->
  </div>
</div>
