<div class="primary-banner">
  <h1 class="mt-4 mb-4">
    <% if user_signed_in? %>
      Welcome, to Workshop Rentals, <%= current_user.first_name %> 🧡
    <% else %>
      Welcome to Workshop Rentals!
    <% end %>
  </h1>
</div>

<div data-controller="spaces">
  <div class="filter-container">
    <div class="filter-banner py-3 my-4">
      <%= render 'spaces/filter_form' %>
    </div>
  </div>

  <div data-spaces-target="spaces" class="container py-3 container--grid">
    <!-- Spaces will be loaded here -->
  </div>
</div>
