.space-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 370px;
  height: 520px;
  overflow: hidden;
  white-space: normal;
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom right, #2E1AAB, #6A41D8);
  transition: all 0.3s ease-in-out;
}

.space-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.space-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
  border: 0cap;
  border-radius: 0.5rem;
  max-width: 60%;
  overflow: hidden;
  white-space: normal;
  color: #ffffff;
  background: linear-gradient(to bottom right, #2E1AAB, #6A41D8);
  transition: all 0.3s ease-in-out;
}

.card-review{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border: solid #FC8C0B;
  border-radius: 0.5rem;
  max-width: 98%;
  overflow: hidden;
  white-space: normal;
  color: #000000;
  background-color: white;
}

.card-price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  width: 200px;
  height: 200px;
  overflow: hidden;
  white-space: normal;
  color: #ffffff;
  background-color: #FC8C0B;
  text-align: center;
}

.card-body-booking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem;
  border: 0cap;
  border-radius: 0.5rem;
  max-width: 40%;
  overflow: hidden;
  white-space: normal;
  color: #ffffff;
  background-color: #2E1AAB;
}
a {
  color: inherit; /* remove the text-decoration property */
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  // box-shadow: 2px 2px 2px rgb(83, 83, 83);
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
-webkit-transform: scale(1.1);
transform: scale(1.1);
}
